/src/Login/Login.Core.Tests/bin/Debug
/src/Login/Login.Core.Tests/bin/Release
/src/Login/Login.Core.Tests/obj/Debug
/src/Login/Login.Core.Tests/obj/Release
/src/Login/Login.Core/bin/Debug
/src/Login/Login.Core/bin/Release
/src/Login/Login.Core/obj/Debug
/src/Login/Login.Core/obj/Release
/src/Login/Login.Gui/bin/Debug
/src/Login/Login.Gui/bin/Release
/src/Login/Login.Gui/obj/Debug
/src/Login/Login.Gui/obj/Release
/src/PM/PM.Core/bin/Release
/src/PM/PM.Core/bin/Debug
/src/PM/PM.Core/obj/Debug
/src/PM/PM.Core/obj/Release
/src/PM/PM.Gui/bin/Debug
/src/StreamCryptor/StreamCryptor.Core/obj/Debug
/src/StreamCryptor/StreamCryptor.Tests/obj/Debug
/src/PM/PM.Gui/obj/Debug
/src/StreamCryptor/Sandbox/obj/Debug
/src/StreamCryptor/StreamCryptor.Core/bin/Debug
