/src/Login/Login.Core.Tests/bin/Debug
/src/Login/Login.Core.Tests/bin/Release
/src/Login/Login.Core.Tests/obj/Debug
/src/Login/Login.Core.Tests/obj/Release
/src/Login/Login.Core/bin/Debug
/src/Login/Login.Core/bin/Release
/src/Login/Login.Core/obj/Debug
/src/Login/Login.Core/obj/Release
/src/Login/Login.Gui/bin/Debug
/src/Login/Login.Gui/bin/Release
/src/Login/Login.Gui/obj/Debug
/src/Login/Login.Gui/obj/Release
/src/PM/PM.Core/bin/Release
/src/PM/PM.Core/bin/Debug
/src/PM/PM.Core/obj/Debug
/src/PM/PM.Core/obj/Release
/src/PM/PM.Gui/bin/Debug
/src/StreamCryptor/StreamCryptor.Core/obj/Debug
/src/StreamCryptor/StreamCryptor.Tests/obj/Debug
/src/PM/PM.Gui/obj/Debug
/src/StreamCryptor/Sandbox/obj/Debug
/src/StreamCryptor/StreamCryptor.Core/bin/Debug
/archive/KeySaver 2.0/KeySaver 2.0/bin/Debug
/archive/KeySaver 2.0/KeySaver 2.0/bin/x64/Debug
/archive/KeySaver 2.0/KeySaver 2.0/obj/x64/Debug
/archive/KeySaver 2.0/KeySaver 2.0/obj/x86/Debug
/archive/KeySaver 2.0/LoginForm/obj/Debug
*.suo
bin/
obj/
Debug/
Release/
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.dll
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.dll
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.dll
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.dll
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
/archive/PM/data.xml
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.xml
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.xml
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.xml
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.xml
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
/archive/PM/packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
